{% extends "inventory_app/base.html" %}

{% block title %} Create Shipment {% endblock %}

{% block content %}

<div class="row">

<div class="card-panel">

    <h1 class="indigo-text darken-4 center-align">Create Shipment</h1>

  <form action="{% url 'inventory:new_shipment' %}" method="post">

      {% csrf_token %}
     
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="John" name="fname" id="fname" type="text" required>
          <label for="fname">First Name</label>
        </div>

        <div class="input-field col s6">
          <input placeholder="Doe" name="lname" id="lname" type="text" required>
          <label for="lname">Last Name</label>
        </div>

      </div>


            <div class="row">
        <div class="input-field col s12">
          <input placeholder="Acme Corporation" name="company" id="company" type="text" required>
          <label for="company">Company</label>
        </div>
      </div>

               <div class="row">
        <div class="input-field col s12">
          <input placeholder="11022 Jasper Ave" name="street" id="street" type="text" required>
          <label for="name">Street Address</label>
        </div>
      </div>
      
           <div class="row">
        <div class="input-field col s6">
          <input placeholder="Edmonton" name="city" id="city" type="text" required>
          <label for="name">City</label>
        </div>

        <div class="input-field col s6">
          <input placeholder="Alberta" name="province" id="province" type="text" required>
          <label for="name">Province</label>
        </div>

      </div>

              <div class="row">
        <div class="input-field col s6">
          <input placeholder="T5K 2N8" name="postal" id="postal" type="text" required>
          <label for="name">Postal Code</label>
        </div>

        <div class="input-field col s6">
          <input placeholder="Canada" name="country" id="country" type="text" required>
          <label for="name">Country</label>
        </div>

      </div>
      
      

        <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

      
    </form>

</div>

  </div>


{% endblock %}
