{% extends "inventory_app/base.html" %}

{% block title %} {{item.name}} {% endblock %}

{% block content %}

<div class="row">
    
  <form action="{% url 'inventory:detail' item.id %}" method="post">

      {% csrf_token %}
     
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Coca-Cola 2L" name="name" id="name" type="text" value="{{ item.name }}" required>
          <label for="name">Item</label>
        </div>
      </div>
      
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="$1.99" name="price" id="price" type="number" step="0.01" min="0.00" data-error="2 decimal places" value="{{ item.price }}" required>
          <label for="price">Price</label>
        </div>
      </div>

         <div class="row">
        <div class="input-field col s12">
    <input placeholder="100" name="quantity" id="quantity" type="number" value="{{ item.quantity }}" required>
          <label for="quantity">Quantity</label>
        </div>
      </div>

            <div class="row">
        <div class="input-field col s12">
          <input placeholder="036000291452" name="upc" id="upc" type="text" data-length="12" maxlength="12" value="{{ item.upc }}" required>
          <label for="upc">UPC (Barcode)</label>
        </div>
      </div>


   <select name="dropdown" class="browser-default" required>
      <option value="" disabled selected>Choose city</option>
      {% if locations %}

      {% for location in locations %}
      {% if location.location.city == item.weather.location.city %}
      <option value="{{location.location.id}}" selected>{{location.location.city}}</option>

      {% else %}

      <option value="{{location.location.id}}">{{location.location.city}}</option>

      {% endif %}

      {% endfor %}

      {% endif %}

</select>

<h1></h1>

        <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action" value="save">Save
    <i class="material-icons right">save</i>
  </button>

         <button class="btn waves-effect waves-light red darken-4" type="submit" name="action" value="delete">Delete
    <i class="material-icons right">delete</i>
  </button>
      
    </form>
  </div>



{% endblock %}